/*Colors*/
@light-color-for-text: hsl(233, 100%, 93%);
@weather-photo-border-color: hsl(240, 100%, 83%);
@light-green-frame: hsl(117, 100%, 60%);

@page-background-color-1: hsl(217, 100%, 62%);
@dark-blue-background: hsl(240, 100%, 25%);
@light-blue-background: hsl(240, 100%, 40%);
@light-red-background: hsl(0, 100%, 41%);
@light-orange-background: hsl(25, 100%, 45%);
@green-background: hsl(99, 90%, 35%);

@popup-lower-background-color: hsla(0, 0%, 10%, 0.8);

@alert-color: hsl(0, 100%, 40%);

/* Paddings */
@padding-smaller3: 0.2rem;
@padding-smaller2: 0.3rem;
@padding-smaller1: 0.4rem;
@padding-normal: 0.5rem;

/* Margins */
@margin-smaller1: 0.4rem;

/* Dimensions */
@loading-symbol-size: 1.0rem;

/* Shadows */
@box-shadow-smallest: 0.1rem;

/* Borders*/
@border-radius-smallest: 0.2rem;
@border-radius-small: 0.3rem;
@border-radius-normal: 0.5rem;
@border-radius-big: 1rem;

@border-width-thin: 0.2rem;
@border-width-thick: 0.3rem;

/* Gaps */
@gap-normal: 0.5rem;

/* Popups */
@popup-close-button-shift-x: 0.5rem;
@popup-close-button-shift-y: 0.5rem;
@popup-close-button-image: 2rem;
@popup-layer-1: 1000;
@popup-layer-2: 2000;

/* Fonts */
@font-size-bigger1: 1.5rem;
@font-size-smaller1: 0.8rem;

/* Cloudiness icon */
@cloudiness-icon-sizes: 3rem;

/* Latest weather */
@latest-weather-button-width: 10rem;
@latest-weather-details-width: 14rem;

/* Register form */
@register-form-max-width: 30rem;

/* Login form */
@login-form-max-width: 30rem;

/* Images */
@weather-photo-max-width: 10rem;
@centering-the-image-horizontally-1: 100vw;
@centering-the-image-horizontally-2: 90vw;
@centering-the-image-vertically-1: 100vh;
@centering-the-image-vertically-2: 90vh;

/* Text */
@text-thickness-1: 600;
@text-thickness-2: 700;
@text-size-home-link-log-in: 0.55rem;
@text-size-weather-headline: 2rem;

/* Body */
body {
  background-color: @page-background-color-1;

  color: @light-color-for-text;
}

/* Centered text */
.text-centered {
  text-align: center;
}

/* Offset text left */
.text-left {
  text-align: left;
}

/* Offset text right */
.text-right {
  text-align: right;
}

.text-size-home-link {
font-size: @text-size-home-link-log-in;
}

.text-size-home-header {
  font-size: @text-size-weather-headline;
}


/* Loading symbol image */
.loading-symbol-image {
  width: @loading-symbol-size;
  height: @loading-symbol-size;
}

/* List with weather*/
.weather-list {
  border: @border-width-thick solid @light-green-frame;
  border-radius: @border-radius-smallest;
  width: max-content;
}

/* Add weather area*/
.add-weather {
  border: @border-width-thick double @light-green-frame;
  border-radius: @border-width-thick;
  width: max-content;

  padding: @padding-normal;

  display: flex;
  flex-direction: column;
  gap: @gap-normal;
}

/* Weather list element */
.weather-list-element {
  padding-left: @padding-smaller1;
  padding-right: @padding-smaller1;
}

/*Even numbered weather list items */
.weather-list-element-even:nth-child(even) {
  background: @dark-blue-background;
  padding: @padding-normal;
}

/* Odd weather list items */
.weather-list-element-odd:nth-child(odd) {
  background: @light-blue-background;
  padding: @padding-normal;
}

/* Container with comments */
.weather-comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: @gap-normal;

  padding: @padding-normal;
}

/* Container for ONE comment */
.weather-comment-container {
  border: @border-width-thin solid @light-green-frame;
  border-radius: @border-radius-smallest;

  padding: @padding-normal;

  width: 100%;
}

/* Comment top line (author and time) */
.weather-comment-top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  font-size: @font-size-smaller1;
}

/* Cloudiness icon */
.cloudiness-icon {
  width: @cloudiness-icon-sizes;
  height: @cloudiness-icon-sizes;
}

/* Page title\brand */
.page-title {
  text-decoration-line: underline;
  text-decoration-color: orange;
}

/* Pseudolink */
.pseudolink {
  text-decoration-line: underline;

  cursor: pointer;
}

/* Flex container, entire page except header */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

/* Flex container last weather */
.flex-container-last-weather {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Flex container right part */
.flex-container-right-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.full-width-flex-element-header {
  flex: 100%;
}

.full-width-flex-element-link {
  flex: 100%;
}


/* Fresh weather button header */
.latest-weather-summary {
  padding: @padding-smaller2;
  width: @latest-weather-button-width;
  background-color: @light-red-background;

  border: none;
  border-radius: @border-radius-smallest;

  box-shadow: @box-shadow-smallest @box-shadow-smallest @box-shadow-smallest @light-color-for-text;
  cursor: pointer;
  text-align: left;
}

/* The window opened */
.latest-weather-details {
  width: @latest-weather-details-width;
  background-color: @light-orange-background;
  padding: @padding-smaller2;
  box-shadow: @box-shadow-smallest @box-shadow-smallest @box-shadow-smallest @light-color-for-text;
  text-align: left;
  border-radius: @border-radius-smallest;
}

/* Customizing each element in a common flex container */
.full-width-flex-element {
  flex: 100%;
}

/* Form field with error */
.form-field-with-error {
  border: red @border-width-thin solid;
}

/* Form field without error */
.form-field-without-error {
  border: transparent @border-width-thin solid;
}

/* Caption for input field */
.form-input-caption {
  padding-bottom: @padding-smaller3;
}

/* Add weather component resides here*/
.add-weather-container {
  margin-left: @margin-smaller1;
}

/* Weather photo preview */
.weather-photo-preview {
  width: @weather-photo-max-width;

  border: solid @border-width-thin @weather-photo-border-color;
  border-radius: @border-radius-big;
}

.link-on-home-page {
  color: @light-color-for-text;
  font-weight: @text-thickness-1;
}

/* Popups begin here */

/* Popup lower layer */
.popup-lower-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: @centering-the-image-horizontally-1;
  height: @centering-the-image-vertically-1;
  z-index: @popup-layer-1;
  background: @popup-lower-background-color;
}

/* Popup upper layer */
.popup-upper-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: @centering-the-image-horizontally-1;
  height: @centering-the-image-vertically-1;
  z-index: @popup-layer-2;
}

/* Popup image section */
.popup-main-image-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

/* Popup image */
.popup-image {
  border-radius: @border-radius-big;
  max-width: @centering-the-image-horizontally-2;
  max-height: @centering-the-image-vertically-2;
}

/* Popup close button image */
.popup-close-button {
  width: @popup-close-button-image;
  height: @popup-close-button-image;
  border-radius: @border-radius-big;

  position: absolute;

  right: @popup-close-button-shift-x;
  top: @popup-close-button-shift-y;

  cursor: pointer;
}

/* Popups end here */

/* Registration page */
.register-form-container {
  display: flex;
  justify-content: center;
}

/* Registration form */
.register-form {
  background: @green-background;

  border: @border-width-thick double @light-green-frame;
  border-radius: @border-radius-normal;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  padding: @padding-smaller1;
  max-width: @register-form-max-width;

  height: min-content;
  overflow-y: auto;

  gap: @gap-normal;
  display: grid;
}

/* Registration Header */
.register-form-title {
  text-align: center;
  font-size: @font-size-bigger1;
  font-weight: @text-thickness-2;
}

/* Registration form login link */
.register-form-login-link {
  color: @light-color-for-text;
  font-weight: @text-thickness-1;
}

.register-from-valid-field {

}

/* Message in registration that something is wrong */
.register-form-invalid-field {
  border: @alert-color solid @border-width-thick;
  border-radius: @border-radius-small;
}

.register-form-login-taken-message {
  color: @alert-color
}

/* Registration page end here */

/* Login page */

/* Container where login occurs */
.login-form-container {
  display: flex;
  justify-content: center;
}

/* Login form */
.login-form {
  background: @green-background;

  border: @border-width-thick double @light-green-frame;
  border-radius: @border-radius-normal;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  padding: @padding-smaller1;
  max-width: @login-form-max-width;

  height: min-content;
  overflow-y: auto;

  gap: @gap-normal;
  display: grid;
}

/* Login form title */
.login-form-title {
  text-align: center;
  font-size: @font-size-bigger1;
  font-weight: @text-thickness-2;
}
/* Login link */
.login-bottom-link {
  color: @light-color-for-text;
  font-weight: @text-thickness-1;
}

/* Marks valid (with correct data) fields in login form */
.login-from-valid-field {

}

/* Marks invalid (with incorrect data) fields in login form */
.login-form-invalid-field {
  border: @alert-color solid @border-width-thick;
  border-radius: @border-radius-small;
}

/* Login page end here */