/*Colors*/
@page-background-color-1: hsl(217, 100%, 62%);
@light-color-for-text: hsl(233, 100%, 93%);
@weather-photo-border-color: hsl(240, 100%, 83%);
@light-green-frame: hsl(117, 100%, 60%);
@dark-blue-background: hsl(240, 100%, 25%);
@light-blue-background: hsl(240, 100%, 40%);
@light-red-background: hsl(0, 100%, 41%);
@light-orange-background: hsl(25, 100%, 45%);
@green-background: hsl(99, 90%, 35%);
@popup-lower-background-color: hsla(0, 0%, 10%, 0.8);

@alert-color: hsl(0, 100%, 40%);

/*Dimensions*/
@lack-of-something: 0;
@smallest-indentation: 0.1rem;
@almost-minimal-indentation: 0.2rem;
@reduced-indentation: 0.3rem;
@normal-indentation: 0.4rem;
@table-edge-offset: 0.5rem;
@increased-indentation: 3rem;
@Fresh-weather-button-width: 10rem;
@window-opened-width: 14rem;
@mega-indentation: 30rem;

@thick-border-width: 0.3rem;

@small-border-radius: 0.3rem;
@normal-border-radius: 0.5rem;


/* Images */
@weather-photo-max-width: 10rem;
@weather-photo-border-radiuses: 1rem;
@weather-photo-border-width: 0.2rem;


/* Body */
body {
  background-color: @page-background-color-1;

  color: @light-color-for-text;
}

/* Centered text */
.text-centered {
  text-align: center;
}

.left {
  text-align: left;
}

/* Loading symbol image */
.loading-symbol-image {
  width: @normal-indentation;
  height: @normal-indentation;
}

/* List with weather*/
.weather-list {
  border: @thick-border-width solid @light-green-frame;
  border-radius: @almost-minimal-indentation;
  width: max-content;
}

/* Add weather area*/
.add-weather {
  border: @thick-border-width double @light-green-frame;
  border-radius: @reduced-indentation;
  width: max-content;

  padding: @table-edge-offset;

  display: flex;
  flex-direction: column;
  gap: @table-edge-offset;
}

/* Weather list element */
.weather-list-element {
  padding-top: @lack-of-something;
  padding-bottom: @lack-of-something;
  padding-left: @normal-indentation;
  padding-right: @normal-indentation;
}

/*Even numbered weather list items */
.weather-list-element-even:nth-child(even) {
  background: @dark-blue-background;
  padding-top: @table-edge-offset;
  padding-right: @table-edge-offset;
  padding-bottom: @table-edge-offset;
  padding-left: @table-edge-offset;
}

/* Odd weather list items */
.weather-list-element-odd:nth-child(odd) {
  background: @light-blue-background;
  padding-top: @table-edge-offset;
  padding-right: @table-edge-offset;
  padding-bottom: @table-edge-offset;
  padding-left: @table-edge-offset;
}

/* Cloudiness icon */
.cloudiness-icon {
  width: @increased-indentation;
  height: @increased-indentation;
}

/* Page title\brand */
.underline-text{
  text-decoration-line: underline;
  text-decoration-color: orange;
}

/* Flex container, entire page except header */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

/* Flex container last weather */
.flex-container-last-weather {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Flex container right part */
.flex-container-right-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fresh weather button header */
.details-summary {
  padding: @reduced-indentation;
  width: @Fresh-weather-button-width;
  background-color: @light-red-background;
  border: none;
  box-shadow: @smallest-indentation @smallest-indentation @smallest-indentation @light-color-for-text;
  border-radius: @almost-minimal-indentation;
  cursor: pointer;
  text-align: left;
}

/* The window opened */
.details-window {
  width: @window-opened-width;
  background-color: @light-orange-background;
  padding: @reduced-indentation;
  margin: @lack-of-something;
  box-shadow: @smallest-indentation @smallest-indentation @smallest-indentation @light-color-for-text;
  text-align: left;
  border-radius: @almost-minimal-indentation
}

/* Customizing each element in a common flex container */
.full-width-flex-element {
  flex: 100%;
}

/* Form field with error */
.form-field-with-error {
  border: red @almost-minimal-indentation solid;
}

/* Form field without error */
.form-field-without-error {
  border: transparent @almost-minimal-indentation solid;
}

/* Caption for input field */
.form-input-caption {
  padding-bottom: @almost-minimal-indentation;
}

/* Add weather component resides here*/
.add-weather-container {
  margin-left: @normal-indentation;
}

/* Weather photo preview */
.weather-photo-preview {
  width: @weather-photo-max-width;

  border: solid @weather-photo-border-width @weather-photo-border-color;
  border-radius: @weather-photo-border-radiuses;
}

/* Popups begin here */

/* Popup lower layer */
.popup-lower-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: @popup-lower-background-color;
}

/* Popup upper layer */
.popup-upper-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}

/* Popup image section */
.popup-main-image-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

/* Popup image */
.popup-image {
  border-radius: @weather-photo-border-radiuses;
  max-width: 90vw;
  max-height: 90vh;
}

/* Popup close button image */
.popup-close-button {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;

  position: absolute;

  right: @table-edge-offset;
  top: @table-edge-offset;

  cursor: pointer;
}

/* Popups end here */

/* Registration or login pages */

.register-form-container {
  display: flex;
  justify-content: center;
}

/* Add weather area*/
.register-form {
  background: @green-background;

  border: @thick-border-width double @light-green-frame;
  border-radius: @normal-border-radius;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  padding: @normal-indentation;
  max-width: @mega-indentation;

  height: min-content;
  overflow-y: auto;

  gap: @table-edge-offset;
  display: grid;
}

.register-form-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.registration-bottom-link {
  color: @light-color-for-text;
  font-weight: 600;
}

.registration-from-valid-field {

}

.registration-form-invalid-field {
  border: @alert-color solid @thick-border-width;
  border-radius: @small-border-radius;
}
/* Registration or login page end here */